{% extends 'admin/layout.html' %}

{% block content %}
	<ul class="nav nav-tabs">
		<li><a href="/admin/tourdates">Fechas <i class="glyphicon glyphicon-calendar"></i></a></li>

		<li><a href="/admin/blog">Blog <i class="glyphicon glyphicon-book"></i></a></li>

		<li><a href="/admin/messages">Mensajes <i class="glyphicon glyphicon-envelope"></i></a></li>			
		<li><a href="/admin/subscriptions">Subscripciones <i class="glyphicon glyphicon-user"></i></a></li>
	</ul>
{% endblock %}

{% block scripts %}
	<script src="/js/jquery.min.js"></script>
	<script src="/js/admin.js"></script>
{% endblock %}