{% extends 'admin/layout.html' %}

{% block content %}
<ul class="pull-right">
    <li class="btn btn-default">
        <a href="/admin">Regresar</a>
    </li>
</ul>
<form action="/admin/tourdates/{{ tourdate._id}}" enctype="multipart/form-data" method="post">
    <div class="form-group">
      <label for="at">Lugar</label>
      <input type="text" class="form-control" id="at" placeholder="Bar macabro" value="{{ tourdate.at }}"">
    </div>
    <div class="form-group">
        <label for="city">Ciudad y Pais</label>
        <input type="text" class="form-control" id="city" placeholder="Japan" value="{{ tourdate.city }}"">
    </div>
    <div class="form-group">
        <label for="date">Fecha</label>
        <input type="date" class="form-control" id="date" placeholder="12/12/1992" value="{{ tourdate.date }}"">
    </div>
    <div class="form-group">
      <label for="flyer">Flyer</label>
      <img width="360" class="img-responsive" src="{{ tourdate.flyer.file.secure_url }}">
      <input type="file" id="flyer">
      <p class="help-block">Sube un flyer nuevo para cambiarlo por el viejo.</p>
    </div>
    <button type="submit" class="btn btn-default">Subir</button>
</form>
{% endblock %}

{% block scripts %}

{% endblock %}