{% extends "layout.html" %}
    {% block content %}
    <section class="view" id="about">
        <div class="row">
            <div class="col-md-4">
                <h2>Origins</h2>
                <img src="img/band/jorge/1.jpg" class="img-responsive img-thumbnail" alt="">
                <p>
                    Felah-Enkum is a Progressive-Flamenco band from Torreón, México. Its music consists on original compositions, achieving a distinctive sound due to the fusion of different music genres such as flamenco, tango, jazz, classical music, progressive and experimental.
                </p>
                <p>
                    Felah-Enkum Project emerges on 2012 from the enthusiasm of Jorge De Llano (Lead Guitar & Rhythmic Guitar), who experimented back then with new sounds added to flamenco rumba, and who started to make small compositions and/or musical experimentations mixing flamenco with progressive rock/metal. It was then when he set the foundations of what would be the peculiar and innovative style that distinguishes Felah-Enkum’s music.
                </p>
            </div>
            <div class="col-md-8">
                <h2>Timeline</h2>
                <img src="img/band/1.jpg" class="img-responsive img-thumbnail" alt="">
                <p>
                    During 2013, Felah-Enkum releases its first  album called “project” under the Premier Records Inc. label from Los Ángeles, California, with which the band signed a contract on October 2013.
                    Felah-Enkum’s music has had excellent critic and acceptance worldwide, especially on Asia and Europe, being its main selling points.
                </p>
                <p>
                    At the beginning of 2014 the band starts the promotion of its first album with a small tour around México next to the Japanese flamenco guitar player, Kenichi Tamura.
                </p>
                <p>
                    In the next months the band suffers changes on its line-up, such as the departure of H. Lugo (ex-Percussionist) and of C. Quintero (ex-Rhythmic guitar), leaving the band as a duo in which Jorge De Llano takes care of the guitars (Lead and Rhythmic) and Gerardo Raigoza of the percussions. Then the band signs with a new record label from San Francisco, California called Star One Entertainment, from which the debut album of the band can be acquired.
                </p>
                <p>
                    On December 2014, Felah-Enkum Project makes its first tour around Japan. They offered five concerts in Tokyo, where the band was received with excellent critics, reaffirming their success on the country. It is worth mentioning that 3 out of 5 concerts where sold out.
                </p>
                <p>
                    On 2015, Felah Enkum signs a contract with the worldwide recognized spanish brand of guitars Manuel Rodríguez Guitars.
                    Nowadays, the band is promoting its second album, which was released on its second tour around Japan on November-December 2015, this time offering 8 concerts on the main cities of the island, achieving a resounding success.
                </p>
                <p>
                    This second album, titled “The Eternal Struggle Between Light and Darkness” was presented in México on September 2016 on several cities around the country.
                </p>
                <p>
                    For 2017, Felah-Enkum has programmed the release of its third album, as well as a new tour around Japan, USA, México and Europe.
                </p>
            </div>
        </div>
        <div class="row">
            <h2>Band members</h2>
            <div class="row active-member">
                <div class="col-md-4">
                    <img class="img-responsive" src="/img/band/4.jpg">
                </div>
                <div class="col-md-8">
                    <p>Jorge De Llano <div class="fb-follow" data-href="https://www.facebook.com/JorgeDeLlanoMusic/" data-layout="standard" data-size="small" data-show-faces="true" data-colorscheme="dark"></div></p>
                    <p>Guitar</p>
                    <p>2012 - Present</p>
                </div>
            </div>
            <div class="row active-member">
                <div class="col-md-4">
                    <img class="img-responsive" src="/img/band/5.jpg">
                </div>
                <div class="col-md-8">
                    <p>Gerardo Raigoza</p>
                    <p>Percussion</p>
                    <p>2014 - Present</p>
                </div>
            </div>

            <h2>Past members</h2>
            <div class="row past-member">
                <div class="col-md-4">
                    <img class="img-responsive make-darker" src="/img/band/6.jpg">
                </div>
                <div class="col-md-8">
                    <p>Carlos Quintero</p>
                    <p>Percussion</p>
                    <p>2012 - 2014</p>
                </div>
            </div>
            <div class="row past-member">
                <div class="col-md-4">
                    <img class="img-responsive make-darker" src="/img/band/7.jpg">
                </div>
                <div class="col-md-8">
                    <p>Hernan Lugo</p>
                    <p>Percussion</p>
                    <p>2012 - 2014</p>
                </div>
            </div>
            <div class="row past-member">
                <div class="col-md-4">
                    <img class="img-responsive make-darker" src="/img/band/8.jpg">
                </div>
                <div class="col-md-8">
                    <p>Jorge Raysola</p>
                    <p>Guitar</p>
                    <p>2012</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}