{% extends "layout.html" %}
{% block content %}
    <section class="view" id="contact">
        <h2 class="title">Contact:</h2>
        <address>
            Jorge E. De Llano Venegas<br>
            <a href="mailto:jorgedellano@gmail.com?subject=contact" alt="email me">jorgedellano@gmail.com</a> <br>
            Paseo del Amanecer #420 Col. Ampl. La Rosita <br>
            <abbr title="phone">P:</abbr>+52 (871) 154 6555 <br>
            Torreón, Coah. Mexico.
        </address>
        <h2 class="title">Japan Manager:</h2>
        <address>
            <a href="https://www.facebook.com/kentam.44/">Kenichi Tamura</a><br>
            <a href="mailto:ritmo.band@gmail.com?subject=contact" alt="email me">ritmo.band@gmail.com</a> <br>
            Tokyo, Japan.
        </address>
    </section>
{% endblock %}