{% extends "layout.html" %}
{% block content %}
    <section class="view" id="discography">
        <div class="row">
            <h2>Studio Albums</h2>
            <div class="col-md-6">
                <div>
                    <img class="img-responsive img-thumbnail" width="250" height="250" src="img/band/albums/1.jpg" />
                </div>
                <h4>Felah-Enkum / Project</h4>
                <ol>
                    <li>Bandar</li>
                    <li>Draconis</li>
                    <li>El Árabe loco (Abdul Alhazred)</li>
                    <li>Diablo Tango</li>
                    <li>El Pórtico</li>
                    <li>El Templo de Ur</li>
                    <li>Angkor</li>
                    <li>R’lyeh</li>
                </ol>
                <p>Recorded at ITEA by Carlos Rios Zuñiga / Composed & Produced by Jorge De Llano
                © 2013 Felah - Enkum ALL RIGHTS RESERVED</p>
            </div>
            <div class="col-md-6">
                <div>
                    <img class="img-responsive img-thumbnail" width="250" height="250" src="img/band/albums/2.jpg" />
                </div>
                <h4>Felah-Enkum / The Eternal Struggle Between Light and Darkness</h4>
                <ol>
                    <li>Beyond the Gate</li>
                    <li>Roots of Creation</li>
                    <li>Aqua Vitae</li>
                    <li>Ouroboros</li>
                    <li>Whispers in the Wind (Skyna)</li>
                    <li>Unequivalent Trade</li>
                    <li>The Last Element</li>
                    <li>Nadie conoce la verdad correcta (Kenichi Tamura feat. Felah Enkum)</li>
                </ol>
                <p>Recorded at ITEA by Carlos Rios Zuñiga & Luis García / Composed & Produced by Jorge De Llano
                    © 2016 Felah - Enkum ALL RIGHTS RESERVED
                </p>
            </div>
        </div>
        <div class="row">
            <h2>Compilations</h2>
            <div class="col-md-12">
                <div>
                    <img class="img-responsive img-thumbnail" width="250" height="250" src="img/band/albums/3.jpg" />
                </div>
                <h4>Nueva Vision Flamenca Tour (Limited Edition/Only for Japan)</h4>
                <ol>
                    <li>Draconis / Felah-Enkum</li>
                    <li>Nostalgia de la melancolia / Kenichi Tamura</li>
                    <li>Angkor / Felah-Enkum</li>
                    <li>La decisión en la temporada de los crezos / K. Tamura</li>
                </ol>
                <p>
                    © 2014 Felah - Enkum ALL RIGHTS RESERVED
                    © 2014 Kenichi Tamura ALL RIGHTS RESERVED
                </p>
            </div>  
        </div>
        <div class="row">
            <h2>Colaborations</h2>
            <div class="col-md-12">
                <div>
                    <img class="img-responsive img-thumbnail" width="250" height="250" src="img/band/albums/4.jpg" />
                </div>
                <h4>Kenichi tamura/Corazón y Riquezas</h4>
                <ol>
                    <li>Nadie conoce la verdad correcta (Kenichi Tamura feat. Felah-Enkum)</li>
                </ol>
                <p>
                    © 2014 Felah - Enkum ALL RIGHTS RESERVED
                </p>
                <p>
                    © 2014 Kenichi Tamura ALL RIGHTS RESERVED
                </p>
            </div>  
        </div>
    </section>
{% endblock %}