{% extends "layout.html" %}
{% block content %}
    <section class="view" id="media">
        <div class="row" style="text-align:center;">
            <h2>Check our latest album on Spotify!</h2>
            <iframe src="https://open.spotify.com/embed/album/3wiZiN5bZLK3TEUdax9gAa" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <div class="row" style="text-align:center;">
            <h2>Get it on</h2>
            <div class="album-purchase-links" class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" href="https://www.amazon.com/Eternal-Struggle-Between-Light-Darkness/dp/B06XBS1QLH/ref=sr_1_6?ie=UTF8&qid=1497668355&sr=8-6&keywords=felah%20enkum"> Amazon <i class="fa fa-amazon" aria-hidden="true"></i></a>
                <a class="btn btn-default" href="https://play.google.com/store/music/album?id=B5wyncammbpu4pwr76c257st25y"> Google Play <i class="fa fa-google" aria-hidden="true"></i></a>
                <a class="btn btn-default" href="https://itunes.apple.com/us/album/the-eternal-struggle-between-light-and-darkness/id1209280482?ign-mpt=uo%3D4"> Itunes <i class="fa fa-apple" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
{% endblock %}