{% extends "layout.html" %}
{% block content %}
	<section class="view" id="road">

	</section>
{% endblock %}


{% block scripts %}
    <script src="/vendor/moment.js"></script>
    <script src="/vendor/neon/neon.js"></script>  
    <script src="/vendor/neon/stdlib/custom_event.js"></script>   
    <script src="/vendor/neon/stdlib/custom_event_support.js"></script>       
    <script src="/vendor/neon/stdlib/bubbling_support.js"></script>       
    <script src="/vendor/neon/stdlib/node_support.js"></script>   
    <script src="/vendor/neon/stdlib/widget.js"></script>
    <script src="/js/road_page.js"></script>
{% endblock %}